body{
    background: linear-gradient(to bottom ,rgb(220, 196, 225), rgb(192, 85, 204),purple);
    background-repeat: no-repeat ;
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
    
     font-family:sans-serif,  Arial, Helvetica ;
 }  
 p{
    color: rgb(0, 0, 0);
 }
 #click{
    background: linear-gradient(to right ,rgb(159, 96, 164), rgb(134, 72, 144),rgb(88, 32, 132));
    color: rgb(14, 17, 13);

    border-radius: 15px;
    border: 5px solid rgb(21, 8, 8) ;
    width: 250px;
    height: 60px;
    padding: 10px;

    font-family:sans-serif,  Arial, Helvetica ;
    font-size: 14px;
 }